.bookmarkspell_note_box{
    position: fixed;
    top: 4em;
    right: 4em;
    background-color: #f5f5f5;
    color: #34495e;
    max-width: 200px;
    min-width: 200px;
    min-height: 50px;
    z-index: 10000;
}
blockquote {
    margin: 5px;
    padding: 0;
    padding: 13px 13px 21px 15px;
    border-left: 5px #eeeeee;
    margin-bottom: 18px;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:25px;
    margin-left:-10px;
    color:#eee;
}
blockquote p {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
a.bookmarkspell_note_box_close{
    float:right;
    width:18px;
    height:18px;
    /*background:transparent url(img/cancel.png) repeat top left;*/
    cursor:pointer;
}